:root {
    --orange-300: hsl(15, 100%, 70%);
    --blue-300: hsl(195, 74%, 62%);
    --pink-400: hsl(348, 100%, 68%);
    --green-400: hsl(145, 58%, 55%);
    --purple-700: hsl(264, 64%, 52%);
    --yellow-300: hsl(43, 84%, 65%);
    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);
}

html {
    font-size: 18px;
    background: var(--navy-950);
    color: white;
    font-weight: 300;
}

body {
    background: var(--navy-950);
    margin: 0;
    padding: 0;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.rubik-200 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.rubik-300 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.rubik-400 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-500 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media (min-width: 768px) {
    body {
        max-width: 1440px;
        padding: 2rem;
    }
}